* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}

/* Media Query */

/* ================= RESPONSIVE DESIGN ================= */

@media (max-width: 992px) {
  /* Navbar */
  #navbar {
    padding: 10px 20px;
  }

  .navbar-brand {
    font-size: 22px !important;
  }

  .nav-link {
    font-size: 16px;
  }

  /* Home Section */
  #Home h1 {
    font-size: 35px;
    line-height: 1.2;
  }

  #Home p {
    font-size: 16px;
    width: 80%;
  }

  /* About Section */
  #About {
    height: auto;
    padding: 40px 20px;
  }

  #About img {
    width: 90%;
    height: auto;
  }

  #About .input-group {
    width: 80%;
  }

  #logo {
    width: 200px;
    height: 180px;
  }

  /* Cart */
  .cart {
    width: 80%;
    right: -100%;
  }

  .cart-active {
    right: 0;
    transition: 0.4s ease;
  }

  /* Products */
  .card {
    margin: 5px auto;
    width: 90%;
    box-shadow: 3px 5px 10px black, inset 2px 2px 6px white;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  #Products h1 {
    font-size: 24px;
  }

  /* Prevent X-axis shaking */
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  #Home {
    height: 70vh;
    text-align: center;
  }

  #Home h1 {
    font-size: 28px;
  }

  #Home p {
    font-size: 14px;
  }

  .cart {
    width: 95%;
    padding: 15px;
  }

  #About h2, #Products h1 {
    font-size: 22px;
  }

  footer {
    font-size: 14px;
  }
}

/* For large Screen */
.box{
  color: white;
  width: 100px;
  height: 30px;
  text-align: center;
  position: relative;
}
.cart-count{
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  right: 25px;
  border-radius: 50%;
  line-height: 20px;
}
#cart-icon{
  position: absolute;
}
.pop{
  position: absolute;
  z-index: 250;
  background-color:white;
  opacity: 1;
  color: black;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  left: 35%;
  font-size: 20px;
  display: none;
}
#navbar {
  position: sticky;
  padding: 1% 3%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 5px 30px black;
  background-color: black;
}
#navbar .navbar-brand {
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0px 1px 1px green, 0px 2px 1px green, 0px 3px 1px green,
    0px 4px 1px green;
}
#navbar .navbar-nav {
  color: red !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  border-bottom: 2px solid greenyellow;
}
.bi{
  color: white !important;
}
#lin{
  text-decoration: none;
  color: black;
}
#butn {
  background-color: rgb(114, 214, 196);
}

/* Cart */

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 90%;
   max-width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #fbf1d2;
  z-index: 350;
  box-shadow: 0px 1px 4px black;
}
.cart-active{
  right: 0;
  transition: 0.5s;
}
.cart-img{
  height: 120px;
  width: 120px;
  border-radius: 0px;
  object-fit: cover;
  border: 5px solid rgba(48, 46, 46, 0.214);
  padding: 5px;
}
.carttitle{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 5px solid black;
}
.cart-box{
  display: grid;
  grid-template-columns: 35% 50% 15%;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.price-box{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.item-title{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(239, 40, 73);
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border: 1px solid black;
  outline: none;
  width: 50px;
  text-align: center;
}
#cancel:hover{
  cursor: pointer;
}
#trash{
  color: red;
  font-size: 22px;
  cursor: pointer;
}
#cart-icon:hover{
  cursor: pointer;
}
#cancel{
  top: 10px;
  position: absolute;
  right: 10px;
}
.total{
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
}
.totaltitle{
  font-weight: 500;
}
.totalprice{
  padding-left: 5px;
}
.btn-buy{
  padding: 8px 15px;
  background-color: purple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#Home{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(./bc.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Home h1{
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 1px 1px red,0px 2px 1px red,0px 3px 1px red,0px 4px 1px red,0px 5px 1px red;
}
#Home p{
    color: rgb(124, 245, 245);
    font-size: 20px;
    text-align: center;
}
#About img{
    height: 50vh;
}
#About{
    background-color: pink;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#About #abut{
    color: navy;
}
#logo{
  height: 300px;
  width: 350px;
}
#About ul{
    color: midnightblue;
}
#About .input-group{
  width: 40%;
  height: 45px;
}
#About .btn{
  background-color: rgb(128, 246, 224);
  width: 100px;
}
footer{
  color: white;
  background-color: black;
  text-align: center;
}
#Products{
  background-color: rgb(242, 237, 237);
}
#Products .price{
  font-weight: bold;
}
#pro{
  background-color: black !important;
  color: white !important;
}
.navbar-brand{
  font-size: 30px !important;
  font-weight: 700 !important;
  color: white !important;
}
#Products h1{
  text-align: center;
  padding-top: 2%;
  margin-top: 40px;
  opacity: 0.7;
  padding-bottom:10px ;
  padding-top: 10px;
  color: black;
}
.card{
  border: none !important;
  box-shadow: 5px 10px 15px black,inset 4px 4px 10px white;
  border-radius: 20px !important;
  overflow: hidden;
}
.card:hover{
  box-shadow: inset 5px 5px 15px black, 4px 4px 10px white;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.product-slide-item {
  animation: slideUp 1s ease-out;
  animation-timeline: scrollAnimation;
  animation-range: entry 20% cover 30%;
}
.mp{
  font-size: 14px;
}
.mp del{
  font-size: 13px;
}
.mp mark{
  font-size: 16px;
  background-color: white;
}
.price{
  font-size: 20px;
}
.card-title mark{
  background-color: green;
  color: white;
}
img{
  width: 200px;
  height: 250px;
  padding-top: 10px;
  border-radius: 25px !important;
}